xml/COURSE_SCHEDULE.dtd

<!ELEMENT COURSE_SCHEDULE (COURSE+)>
<!ELEMENT COURSE (COURSE_NUMBER,COURSE_NAME, SESSION+)>
<!ELEMENT COURSE_NUMBER (#PCDATA)>
<!ELEMENT COURSE_NAME (#PCDATA)>
<!ELEMENT SESSION (SESSION_NUMBER, DAY, SESSION_TIME)>
<!ELEMENT SESSION_NUMBER (#PCDATA)>
<!ELEMENT DAY (#PCDATA)>
<!ELEMENT SESSION_TIME (#PCDATA)>


